.bookshelves-page {
  padding: $padding-base-horizontal;

  table {
    th, td {
      padding: $padding-base-vertical;
    }
  }

  .actions {
    margin-top: $padding-base-vertical;

    > button {
      margin-right: $padding-base-vertical;
    }
  }
}
